* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

body {
    height: 100vh;
    background-image: url("https://www.thoughtco.com/thmb/_sN5LfMVPjaYGJ7_Pjc9Iq64Upo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/mumbai-skyline-from-malabar-hill-mumbai-maharashtra-india-asia-547416209-58b9cb8b5f9b58af5ca70b8e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'oswald','sans-serif';
  }